body {
  margin: 0 auto;
  background: lightgrey;
}

.tomato {
  overflow: auto;
  margin: 3em auto;
  width: 500px;
  height: 500px;
  -moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
  background-color: tomato;
  opacity: 0.6;
}

.time-window {
  overflow: auto;
  margin: 3em auto;
  background: lightgrey;
  width: 54%;
  height: 18%;
  -moz-border-radius: 48px;
  -webkit-border-radius: 48px;
  border-radius: 48px;
}

.time-remaining {
  font-size: 80px;
  margin: 0.0em auto;
  text-align: center;
}

.work-time {

}

.break-time {

}

.start-pause {
  overflow: auto;
  margin: 1em auto;
  width: 24%;
  height: 12%;
  background: darkgrey;
  color: white;
  outline: 0;
  white-space: nowrap;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 1px 0px 1px lightgrey, 0px 1px 1px lightgrey, 2px 1px 1px lightgrey,
  1px 2px 1px lightgrey, 3px 2px 1px lightgrey, 2px 3px 1px lightgrey, 4px 3px 1px lightgrey;
}

.start-pause:hover, .start-pause:focus {
  cursor: pointer;
  opacity: 0.9;
}

.start-pause:active {
  box-shadow: 1px 0px 1px lightgrey, 0px 1px 1px lightgrey;
  transform: translate(3px, 3px);
}
